{% assign content = site.data.home['started-personal'] %}

<!-- Section Started -->
<div class="section started personal" id="section-started">

    <!-- background -->
    <div class="video-bg">
        <div class="video-bg-mask"></div>
        <div class="video-bg-texture" id="grained_container"></div>
    </div>

    <!-- started content -->
    <div class="centrize full-width">
        <div class="vertical-center">
            <div class="started-content">
                {% if content.image != '' %}
                <div class="logo" style="background-image: url({{ content.image | relative_url }});"></div>
                {% endif %}
                {% if content.title != '' %}
                <h1 class="h-title">
                    {{ content.title }}
		    <ul>
			<!-- <li><a href="https://shawnwells.io/resume.html">Resume</a></li> -->
			<li>Part of the leadership team of Accenture Federal's Cybersecurity Practice. <a href="https://www.accenture.com/us-en/about/leadership/shawn-wells" target="_new">Official leadership bio on accenture.com</a></li>
			<li><a href="https://linkedin.com/in/shawndwells" target="_new">Connect via LinkedIn</a></li>
			<li><a href="https://github.com/shawndwells/" target="_new">Code @ GitHub</a></li>
			<li><a href="https://speaking.shawnwells.io/" target="_new">Presentations & Speaking Bio</a></li>
		    </ul>
		    <a href="mailto:shawn@shawnwells.io">shawn@shawnwells.io</a> || <a href="tel:+1 443 534 0130">+1 443 534 0130</a> (US EST)
                </h1>
                {% endif %}
                <div class="h-subtitle typing-subtitle">
                    {% for item in content.typed %}
                    <p>{{ item }}</p>
                    {% endfor %}
                </div>
                <!-- <span class="typed-subtitle">this is a subtitle</span> -->
            </div>
        </div>
    </div>

</div>
